<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="Images/WIN_20240219_03_57_49_Pro.jpg" alt="Mike Picto" class="card-img-top" />

                <div class="card-body">
                    <h5 class="card-title">MICHAEL PONZ - SOFTWARE DEVELOPER</h5>
                    <p class="card-text">
                        Hello! My name is Michael ponz, and I want to thank you for checking out this simple app!
                        If you have any questions, you can reach me at the following email address:
                        michael.b.ponz@gmail.com.

                        If there were more improvements I would make to this with more time, I would:

                        <ul>Add a user authentication system</ul>
                        <ul>Add some validation to limit odd user names and such as well as blank names and emails.</ul>
                        <ul>Add a search feature to the user list.</ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>